.cardapio-container {
  display: flex;
  justify-content: center;
}
.ulClass {
  position: relative;
  display: flex;
  /* flex-direction: row; */
  list-style: none;
  cursor: pointer;
  /* top: -26px; */
  justify-content: flex-start;
  overflow-x: auto;
  background-color: #707041;
  padding: 10px 0;
  transition: .9s;
  box-shadow: 1px 2px 22px black;
}

.ulClass li {
  margin: 0 5px;
  background-color: var(--page-color-principal-bg-01);
  color: #fff;
  box-shadow: 1px 1px 1px black;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.9s;
  z-index: 999;
}
.ulClass li h3 {
  background-color: #8d878793;
  position: relative;
  padding: 7px 30px;
  width: 68px;
}
.conteudo-cardapio {
  position: relative;
  background-color: var(--page-color-principal-bg-02);
  border-top-left-radius: 25px;
  box-shadow: 1px 1px;
  z-index: 90;
  width: 100%;
}
.item-selecionado-grupos,
.item-selecionado-grupos-sqn {
  transition: 1.9s;
  box-shadow: 1px 1px 5px black;
}

.item-selecionado-grupos {
  background-color: var(--page-color-principal-bg-03);
  filter: grayscale(75%) blur(0.51px) saturate(1);
}
.conteudo-cardapio h4 {
  width: 100%;
  text-align: center;
  background-color: #878787;
  color: #fff;
  text-shadow: 1px 1px black;
  padding: 10px 0;
  letter-spacing: 2px;
  position: relative;
  top: -25px;
}

.conteudo-cardapio h5 {
  padding: 25px 4px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: x-large;
  font-family: "Rubik Doodle Shadow";
  text-align: center;
}
.conteudo-cardapio h6 {
  padding: 25px 4px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: x-large;
  font-family: "Rubik Doodle Shadow";
  text-align: center;
  margin: 0 0;
}

.ulClass.fixed {
  position: fixed;
  top: 34px;
  z-index: 900;
  overflow-y: auto;
  display: flex;
  width: 100%;
  height: 47px;
  transition: .9s;
}
