.cardapio-container {
  background-color: var(--page-color-principal-contraste);
  background-image: url("https://images.vexels.com/media/users/3/183486/isolated/preview/082b11dd3937152eb058b1e4ce69e6f3-folha-tropical-verde.png");
  background-size: 445px;
  padding: 1px 0;
  text-align: center;
  height: 90vh;
  filter: contrast(1.5);
}
.cardapio-container h2,
.cardapio-container h4
 {
  background-color: #000080;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 999;
  top: -23px;
}
.cardapio-container h4{
    padding: 40px 0;

}
.cardapio-container ul {
  position: relative;
  top: -42px;
  list-style: none;
  padding: 20px 10px;
  max-height: 300px;
  overflow-x: auto;
  display: flex;
  background-image: url("https://static.vecteezy.com/system/resources/previews/010/832/903/original/tropical-green-palm-leaves-tree-isolated-on-transparent-background-for-summer-banner-file-free-png.png");
  background-size: 244px;
}

.cardapio-container li {
  background-color: var(--page-color-principal-contraste-cardapio-li);
  min-width: 150px;
  font-size: 10px;
  padding: 5px;
  margin: 3px;
  height: 60px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 2px 2px, -2px -2px;
  border-radius: 10px;
  color: var(--texto-color-principal);
  transition: var(--time-transition-padrao);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  top: -15px;
  position: relative;
}

.cardapio-container li:hover {
  box-shadow: -3px -3px, 3px 3px;
  background-color: var(--page-color-principal-contraste-cardapio-li-hover);
  color: var(--texto-color-principal-hover);
  transition: var(--time-transition-padrao);
}

.cardapio-container h3 {
  text-align: right;
  font-weight: 700;
  position: relative;
  left: -10px;
}
