.carrinho-pedidos-container .carrinho {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: var(--page-color-principal-contraste-cardapio-li);
  padding: 15px;
  border-radius: 50%;
  color: var(--texto-color-principal);
  box-shadow: 1px 1px 4px black;
  font-size: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 90;
  
}

.carrinho-pedidos-container .painel-carrinho {
  position: absolute;
  z-index: 999;
  width: auto;
  border: #a07fe1 5px groove;
  position: fixed;
  bottom: 0;
  top: 82px;
  right: 0;
  background-color: var(--texto-color-principal);
  z-index: 999;
  transition: 1.4s;
  overflow-y: auto;
}

.carrinho-pedidos-container .painel-carrinho ul {
  position: relative;
  width: 100%;
  left: -40px;
  border-collapse: collapse;
  list-style: none;
}

.carrinho-pedidos-container .painel-carrinho li {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.carrinho-pedidos-container .painel-carrinho li:nth-child(even) {
  background-color: #f9f9f9;
}

.carrinho-pedidos-container .painel-carrinho li:hover {
  background-color: #f0f0f0;
}

.carrinho-pedidos-container .painel-carrinho table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.carrinho-pedidos-container .painel-carrinho th,
.carrinho-pedidos-container .painel-carrinho td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
.carrinho-pedidos-container .painel-carrinho td button,
.carrinho-pedidos-container .painel-carrinho td input {
  font-size: large;
  border-radius: 0;
  box-shadow: 1px 1px black, -1px -1px #a07fe1;
  background-color: white;
  color: black;

  text-align: center;
}

.carrinho-pedidos-container .painel-carrinho td button {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 8px;
}
.carrinho-pedidos-container .painel-carrinho td button:active {
  background-color: black;
  color: #fff;
}
.carrinho-pedidos-container .painel-carrinho td input {
  width: 25px;
  margin: 2px 0;
  height: 20px;
  border-radius: 4px;
}
.carrinho-pedidos-container .painel-carrinho td img {
  width: 50px;
}
.carrinho-pedidos-container .painel-carrinho th {
  background-color: #f2f2f2;
}
.carrinho-pedidos-container .painel-carrinho tbody {
  overflow-y: auto;
}
.carrinho-pedidos-container .painel-carrinho tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.carrinho-pedidos-container .painel-carrinho tbody tr:hover {
  background-color: #f0f0f0;
}
.td-qtd{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.carrinho-pedidos-container .carrinho-ativo-sqn {
  right: -550px;
  transition: 0.9s;
  animation-delay: 0.3s;
}

.carrinho-pedidos-container .botao-fechar-carrinho {
  position: relative;
  top: 102px;
  right: 20px;
  display: flex;
  padding: 10px;
}

.carrinho-pedidos-container button {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  color: #ddd;
  text-shadow: 1px 1px black;
  font-size: 30px;
  background-color: var(--page-color-principal-bg-03);
}
.carrinho h5,
.listaSocialCliente h5 {
  position: relative;
  top: -55px;
  right: -10px;
  font-size: xx-small;
  text-align: center;
  background-color: red;
  height: 10px;
  width: 11px;
  border-radius: 50%;
}
.cliente-carrinho-container div ul {
font-weight: 800;
font-family: 'Roboto';
font-size: x-large;
}
.area-endereco-container {
  line-height: 9px;
  padding: 10px;
}
.area-endereco-container label {
  display: none;
}
.area-endereco-container select,
.totais-conferencia select {
  background-color: white;
  color: black;
  width: 100%;
  text-indent: 20px;
  height: 65px;
  font-size: xx-large;
  border: groove black;
  border-radius: 5px;
}

.totais-conferencia select{
  text-indent: 2px;
  height: 45px;
  font-size: small;
}
.area-endereco-container option{
  background-color: white;
  color: black;
}

.totais-conferencia tfoot tr {
  font-weight: 800;
  font-family: "Roboto";
}

.totais-conferencia .total,
.totais-conferencia .taxa {
  color: black;
}
.totais-conferencia .descontos {
  color: brown;
}
.total-conta {
  background-color: black;
  color: white;
}
