.galeria-produtos,
.galeria-produtos .produtosCatalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  
}
.galeria-produtos .produtosCatalogo {
  width: 293px;
  background-color: #8f8fbe;
  border: #707041 groove 1px;
  border-top-left-radius: 0px;
  box-shadow: 1px 1px;
  padding: 5px;
  border-radius: 25px;
  margin: -85px -39px;
  transform: scale(0.7);
}
.galeria-produtos .bgNomeValoresDescricao {
  margin-top: -20px;
}

.galeria-produtos .produtosCatalogo .bgImgProdutoNeutro img {
  width: 250px;
  height: 280px;
  border-top-left-radius: 25px;
  position: relative;
  z-index: 999;
  top: 12px;
  left: 4px;
  transition: 0.9s;
}
.galeria-produtos .produtosCatalogo .bgImgProdutoNeutro .imgSelecionadoQtd {
  width: 250px;
  height: 280px;
}
.galeria-produtos .produtosCatalogo .bgImgProdutoNeutro {
  position: relative;
  border-top-left-radius: 35px;
  z-index: 109;
  border-radius: 6px;
}
.container-img-qtd {
  display: flex;
  justify-content: space-around;
  width: 80px;
  margin: -14px 0;
  position: relative;
}
.container-img-qtd input {
  width: 34px;
  height: 70px;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #fff;
  font-size: 27px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.9s;
  top: 17px;
}
.inputopc{
  opacity: 0;
}
.container-img-qtd button {
  box-shadow: 1px 1px;
}
.botaoMenosL {
  position: relative;
  left: 255px;
  top: 118px;
  height: 75px;
  transition: 0.9s;
  opacity: 0;
  background-color: #accd79;
  z-index: 10;
}

.botaoMenosLA {
  position: relative;
  left: 289px;
  transition: 0.9s;
  background-color: #00bcd4;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 75px;
  z-index: 10;
  top: 118px;
  opacity: 1;
}

.inputQtdProduto {
  left: -55px;
  transition: 0.9s;
}
.inputQtdProdutoLA {
  left: 1px;
  transition: 0.9s;
}

.botaoMenosR {
  position: relative;
  left: -42px;
  height: 278px;
  transition: 0.9s;
  top: 12px;
  opacity: 1;
  background-color: #ffd700;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.botaoMenosRA {
  position: relative;
  left: -38px;
  transition: 0.9s;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 100;
  top: 210px;
  background-color: #ffeb3b;
  height: 75px;
}
.valor-produto-catalogo {
  margin-top: -55px;
  font-size: x-large;
  text-align: center;
  color: #fff;
  text-decoration: #ff9800;
  text-shadow: 0.5px 0.5px 0.5px #ff9800;
  letter-spacing: 20px;
  background-color: #140d1f;
  padding: 10px;
}
.galeria-produtos .bgDescricao {
  height: 200px;
  background-color: #22094d;
  color: #fff;
  box-shadow: 1px 1px black;
  padding: 15px;
  font-size: large;
  font-weight: 600;
  font-family: "Roboto Serif";
  transition: 0.9s;
  letter-spacing: 1px;
  line-height: 35px;
  overflow-y: auto;
  margin-top: -25px;
}
@keyframes movimentoGradiente {
  0% {
    background-image: radial-gradient(circle at center, #020, #030, #040, #050);
  }
  100% {
    background-image: radial-gradient(circle at center, #060, #070, #080, #090);
  }
}
