.login-container {
  background-color: #8f8fbe;
  border-radius: 4px;
  list-style: none;
  padding: 10px;

}

.login-container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 5px auto;
  color: black;
  padding: 25px;
  border-left: #8f8fbe groove;
}

.login-container form button,
.login-container form input{

    color: black;
    padding: 10px;
    font-size: large;
}