.sociais-container h2{
  padding: 0 30px;
}
 .redes-sociais-links{
  display: flex;
}
.geral-container-pagina h1 {
  font-size: x-large;
  font-family: "Rubik Doodle Triangles";
  letter-spacing: 8px;
  text-align: center;
  font-weight: 100;
  color: #0000ff;
  padding: 10px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/016/548/277/original/watercolor-berry-acai-png.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 999;
}
.tituli-principal-container p {
  text-align: center;
  font-family: "Rubik Doodle Shadow";
  font-size: small;
  position: relative;
  top: -40px;
}
.tituli-principal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  box-shadow: 1px 1px;
}
.tituli-principal-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #75d41d;
}
.sociais-container {
  overflow-x: auto;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: blueviolet;
  color: white;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  display: flex;
  z-index: 1000;
  flex-direction: row;
  box-shadow: 1px 2px 22px black;
  margin-bottom: -17px;
}
.sociais-container .listaSocialCliente {
  list-style: none;
  display: flex;
  align-items: flex-end;
}
.sociais-container .listaSocialCliente li {
  width: 50px;
  font-size: small;
  margin: 0 5px;
  padding: 0 10px;
}
.sociais-container .listaSocialCliente li a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.sociais-container.fixed {
  position: fixed;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  list-style: none;
  padding: 10px 0;
  background-color: #fff;
  margin-top: 0px;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  font-family: "Rubik Maps";
  color: black;
  letter-spacing: 8px;
}
nav ul li svg {
}
nav ul li {
  background-color: var(--page-color-principal-bg-02);
  padding: 5px;
  border-bottom: red groove;
  border-left: rgba(144, 0, 0, 0.678) groove 1px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-shadow: 0px 0px white;
  font-family: "Roboto";
  color: black;
  text-align: center;
  margin: 0 5px;
}

nav ul li strong {
  font-size: large;
}
.login-visual-container{
  transition: 1.5s;
}